<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqraZUzQjNlHr0LwV0k5g8-GpyhSJ3MPc</string>
	<key>GCM_SENDER_ID</key>
	<string>984111753935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clubReviews.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hackathon-9f5f7</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-9f5f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984111753935:ios:5fd936906c9137db0165ba</string>
</dict>
</plist>